<div class="container">

</div>

<div class="container">
      <div class="row">
        <div class="col">
              <% @allfav.each do |item| %>
        <div class="col">
          <% @nowtag = item[0] %>
          <% if @prevtag != @nowtag %>
            <div class="fs-3", style="text-align:left">
              <%= @nowtag %>
            </div>
            <% @prevtag = @nowtag %>
          <% end %>
          <div class="card", style="width:40vw; text-align:left; margin : 16px ">
          <div class = "row">
            <% if item[3].attached? %>
              <%= image_tag item[3],class:"col", style: "height: 30vh;object-fit: scale-down; padding:16px;"%>
            <% end %>
            <div class = "col">
              <div class="card-body">
                <h5 class="card-title fw-bold fs-2"><%= item[1] %></h5>
                <p class="card-text fw-bold fs-3", style="color:#ED8259;margin:16px 0px">B <%= item[2] %></p>
                <% if session[:user_type] == "buyer" %>
                  <%= link_to "-", dec_item_path(item[4]), class: "btn", method: "POST", style:"background-color:#FADACD; color:#ED8259; border-radius: 30px; padding: 8px 16px; " %>
                  <%= link_to "+", inc_item_path(item[4]), class: "btn", method: "POST", style:"background-color:#FADACD; color:#ED8259; border-radius: 30px; padding: 8px 16px; " %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
      </div>
      <div class="col">
          <div class="fs-3", style="text-align:left">
              MyCart
                <% @inbucket.each do |(x,y)| %>
                <div class="card", style="width:20vw; text-align:left; margin : 16px ">
                  <% @curItem = Item.find_by("id":x) %>
                  <%= image_tag(@curItem.pic,style:"height: 40vh; object-fit: cover;") %>
                  <div class="card-body">
                    <h5 class="card-title"><%=@curItem.name%> x <%=y%></h5>
                    <p class="card-text fw-bold fs-3", style="color:#ED8259""><%=@curItem.price%> * <%=y%> = <%=@curItem.price * y%></p>
                  </div>
                </div>                  
                <% end %>
                <p class="fw-bold fs-3", style="color:#ED8259; margin : 16px ">Total: <%= @totalprice %></p>
                <%= link_to "Confirm", store_confirm_get_path(@user.id),class: "btn", method: "GET", style:"background-color:#FADACD; color:#ED8259; border-radius: 30px; padding: 8px 16px; " %>

        </div>
  <style type="text/css">
    .btn:hover{
      color:#FFFFFF!important;
      background-color:#FADACD!important;
    }  
  </style>
