
<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs" style="display:inline-block">
    <div style="text-align: left;margin:16px" >
    
      <% if item.pic.attached? %>
        <%= image_tag @item.pic, style: "width: 10vw; display: block"%>
      <% end %>

      <%= f.label :Item_pic %>
      <%= f.file_field :pic, class: "form-control" %>
      
      <%= f.input :name %>
      <%= f.association :taglibs, label_method: :tag_name, value_method: :id, include_blank: false,   as: :check_boxes %>
      <%= f.input :price %>
      <%= f.input :desc %>
      <%= f.hidden_field :store_id, value: session[:user_id] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:"btn", style:"background-color:#FADACD; color:#ED8259; border-radius: 30px; padding: 8px 32px"%>
  </div>
<% end %>
